<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental Health Tester</title>

    <link href="{{url_for('static', filename = 'vendor/aos/aos.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="card mt-5">
            <div class="card-body">
              <h1 class="text-center">Mental Health Tester</h1>
              <div class="mt-5 text-center">
                <a href="{{url_for('fungsi1')}}" class="btn btn-primary">Sliding Bar</a>
                <a href="{{url_for('fungsi2')}}" class="btn btn-primary">Long Text</a>
                <a href="{{url_for('fungsi3')}}" class="btn btn-primary">Multiple</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
